<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Servicio de Migración Operaciones</title>
    </h:head>
    <h:body>
    <h1>Servicio de Migración Web de Atrums para Wendys</h1>
	<h:form id="form">
		<p:panel id="pnlform" header="Operaciones de Re-Monitoreo" footer="Copyright ©ATRUMS-IT">
			<p:growl id="msgs" showDetail="true" life="2000" />
	 		<h:panelGrid columns="3" cellpadding="5">
	 			<p:outputLabel for="eventfactura" value="Fecha Factura: " />
	        	<p:calendar id="eventfactura" value="#{loginBean.fechafactura}">
	            <p:ajax event="dateSelect" listener="#{loginBean.onDateSelect}" update="msgs" />
	            </p:calendar>
	            <p:commandButton value="Re-Monitorear Facturas" id="btnfactura" actionListener="#{loginBean.monitorarFactura}" update="msgs" icon="ui-icon-gear" />
	 		</h:panelGrid>
	 		<p:separator />
	 		<h:panelGrid columns="3" cellpadding="5">
	 			<p:outputLabel for="eventfacturaclave" value="Fecha Factura Clave: " />
	        	<p:calendar id="eventfacturaclave" value="#{loginBean.fechafacturaclave}">
	            <p:ajax event="dateSelect" listener="#{loginBean.onDateSelect}" update="msgs" />
	        	</p:calendar>
	        	<p:commandButton value="Re-Monitorear Facturas Clave" id="btnfacturaclave" actionListener="#{loginBean.monitorarFacturaClave}" update="msgs" icon="ui-icon-disk" />
	 		</h:panelGrid>
	 		<p:separator />
	 		<h:panelGrid columns="3" cellpadding="5">
	 			<p:outputLabel for="eventnota" value="Fecha Nota de Crédito: " />
	        	<p:calendar id="eventnota" value="#{loginBean.fechanota}">
	            <p:ajax event="dateSelect" listener="#{loginBean.onDateSelect}" update="msgs" />
	        	</p:calendar>
	        	<p:commandButton value="Re-Monitorear Notas de Crédito" id="btnnota" actionListener="#{loginBean.monitorarNota}" update="msgs" icon="ui-icon-gear" />
	 		</h:panelGrid>
	 		<p:separator />
	 		<h:panelGrid columns="3" cellpadding="5">
	 			<p:outputLabel for="eventretencion" value="Fecha Retención: " />
	        	<p:calendar id="eventretencion" value="#{loginBean.fecharetencion}">
	            <p:ajax event="dateSelect" listener="#{loginBean.onDateSelect}" update="msgs" />
	        	</p:calendar>
	        	<p:commandButton value="Re-Monitorear Retención" id="btnretencion" actionListener="#{loginBean.monitorarRetencion}" update="msgs" icon="ui-icon-gear" />
	 		</h:panelGrid>
	 		<p:separator />
	 		<p:commandButton value="Salir" icon="ui-icon-close" update="msgs" id="logout" actionListener="#{loginBean.logout}" style="margin-right:20px;" oncomplete="logout(xhr, status, args)">
			</p:commandButton>
	 	</p:panel>
	 	
	 	<p:blockUI block="pnlform" trigger="btnfactura" />
	 	<p:blockUI block="pnlform" trigger="btnfacturaclave" />
	 	<p:blockUI block="pnlform" trigger="btnnota" />
	 	<p:blockUI block="pnlform" trigger="btnretencion" />
	 	<p:blockUI block="pnlform" trigger="logout" />
	 	
	</h:form>
    </h:body>
    <script type="text/javascript">
    //<![CDATA[
        function logout(xhr, status, args) {
	   		setTimeout(function() {
		   		window.location = 'index.xhtml';
		   	}, 500);
	   	}
   //]]> 
   </script>
</html>